
*{
      box-sizing: border-box;
}
body{
      margin: 0px;
      padding: 0px;
      font-family: cursive;
}
nav{
      background-color: rgb(75, 153, 236);
      border-bottom: 2px solid black ;
      position: sticky;
      top: 0;
      width: 100%;
      padding: 10px 0;
      box-shadow: 0 -10px 1px bisque;
      z-index: 2;
}
nav ul {
      list-style-type: none;
      display: inline;
}
nav li{
      float: right;
}
nav a{
      text-decoration: none;
      padding: 15px;
      margin-right: 10px;
      color: white;
      text-shadow: 0 2px 3px black;
}
nav a:hover{
      color: rgb(230, 225, 225);
}
sup{
      font-size: x-small;
      background-color: red;
      border-radius: 50%;
      padding: 2px;
}
main{
      width: 80vw;
      margin: auto;
      background-color: aliceblue;
      /* box-shadow: 1px 0px 20px grey, -1px 0px 20px grey; */
 }
img.cover{
      width: 80vw;
      position: relative;
}
header{
      position: relative;
}
img.camera{
      width: 35px;
      position: absolute ;
      bottom: 10px;
      right: 10px;
}
img.dp{
      width: 20vw;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 7%;
      /* box-shadow: 4px 0px 30px white, -4px 0px 30px white; */
      border: 3px white solid;
}
span.active{
      background-color: rgb(0, 201, 23);
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 50%;
      position: absolute;
      top: 120%;
      left: 26.5%;
      box-shadow: 2px 0px 6px rgb(0, 201, 23), -2px 0px 6px rgb(0, 201, 23);

}
.left{
      width: 40%;
      /* border: red solid 2px; */
      padding: 5.5rem 0.5rem 0 1rem;
      float: left;
}
.right{
      /* border: blue 2px solid; */
      float: left;
      padding: 1rem 0.5rem 0 1rem;
      width: 60%;
}
.username{
      text-align: center;
      font-weight: bolder;
      font-size: 30px;
}
.btn{
      display: flex;
  align-items: stretch;
  width:100%;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.message{
background-color: rgb(75, 153, 236);
padding: 15px 32px;
border-radius: 1000px;
color: white;
text-decoration: none;
background-image: linear-gradient(to bottom right, rgb(75, 153, 236), rgb(255, 0, 128) );
}
.follow{
color: rgb(75, 153, 236);
text-decoration: none;
padding: 15px 39px;
border-radius: 1000px;
position: relative;
background: white;
}
.follow::after{
      content: '';
      position: absolute;
      left: -3.4px;;
      top: -2px;
      height: 109%;
      width: 105%;
      border-radius: 1000px;
      background-image:  linear-gradient(to bottom right, rgb(75, 153, 236), rgb(255, 0, 128) );
      z-index: -1;
}
.s-media img{
      width: 40px;
}
.s-media{
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
}
.icons{
      width: 20px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  width:100%;
  justify-content: space-evenly;
  padding-top: 1rem;
}

img.pic{
      width: 100%;
      height: auto;
}
.photos, .friends{
      width: 25%;
}
.photo-box, .friends-box{
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 3px;
}

.friends{
      transition: border 0.2s;
}
.friends:hover{
      border: 1.5px #c1c1c1 solid;
}
.desc, .small{
      text-align: center;
      padding: -16px;
}

/* .btn:after {
  content: "";
  display: table;
  clear: both;
}
@media screen (max-width:1000px) {
 .btn{
      width: 100%;
 }
} */

footer{
      background-color: rgb(75, 153, 236);
      border-top: 2px solid black;
      text-align: center;
      padding: 0.4rem 0rem;
}